# Dictionary

In [ ]:
Limitations of a set:
1. In a set, we cannot store duplicate values.
2. In a set, we can only store immutable types of values
3. In a set, the values do not have any identifier associated with them

1. A Set is a collection of values.
2. In a Set, you can only store immutable types of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the set, needs to be surrounded by curly brackets
5. Each value in the set, does not have any identifier associated with it
6. In a set, we are not allowed to have duplicate value (value occuring more than once inside the collection). If we pass a value that is already present, then the last instance of the value will be removed by the previous instance of the value will be kept

1. A Dictionary is a collection of values.
2. In a Dictionary, you can only store any types of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the dictionary, needs to be surrounded by curly brackets
5. Each value in the dictionary, does have a identifier associated with it. The identifiers need to be assigned by me. And also the identifier can only be of immutable data type. Each value in a dictionary needs to have a different identifier. If we try to assign a duplicate identifier, then the last instance of the value will be kept, and the previous instance of the value will be removed
6. In a Dictionary, we are allowed to have duplicate value (value occuring more than once inside the collection).

In [1]:
a={34, 78.9, "abc"}

In [2]:
type(a)

set

In [3]:
a={0:34, "sdfsd":78.9, 90.8:"abc"}

In [4]:
type(a)

dict

In [5]:
b={"sdfsdf":56,(1,2,3):89,0:56}

In [6]:
type(b)

dict

In [7]:
c={[1,2,3]:50,"sfsdf":100,45:150}

TypeError: unhashable type: 'list'

In [8]:
c={(1,2,3):50,"sfsdf":100,45:150}

In [9]:
d={"Rohit":45,"Pant":89,"Sachin":134,"Rohit":160}

In [10]:
d

{'Rohit': 160, 'Pant': 89, 'Sachin': 134}

# Subset the values in a dictionary

In [ ]:
Identifiers in a list are called indexes

In [ ]:
Identifiers in a dictionary are called keys

In [ ]:
syntax for subsetting in a dictionary:
    
dictionaryReference[key]

In [11]:
d["Pant"]

89

In [12]:
d["Rohit"]

160

In [13]:
d["Sachin"]

134

# Insert values in a dictionary

In [ ]:
syntax


dictionaryReference[Newkey]=NewValue

In [14]:
d["Dhoni"]=90

In [15]:
d["Sachin"]=210

In [16]:
d

{'Rohit': 160, 'Pant': 89, 'Sachin': 210, 'Dhoni': 90}

# Delete values in a dictionary

In [17]:
d["Dhoni"]

90

In [18]:
del(d["Dhoni"])

In [19]:
d

{'Rohit': 160, 'Pant': 89, 'Sachin': 210}