# Set

In [ ]:
1. A list is a collection of values.
2. In a list, you can store any type of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the list, needs to be surrounded by square brackets
5. Each value in the list, had a indentifier associated with it
6. In a list, we are allowed to have duplicate value (value occuring more than once inside the collection)

1. A Set is a collection of values.
2. In a Set, you can only store immutable types of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the set, needs to be surrounded by curly brackets
5. Each value in the set, does not have any identifier associated with it
6. In a set, we are not allowed to have duplicate value (value occuring more than once inside the collection). If we pass a value that is already present, then the last instance of the value will be removed by the previous instance of the value will be kept

Similarities between list and set:
1. A list is a collection of values. Similarly, a set is also a collection of values
2. If you have more than 1 value in the list, then those values need to be separated with each other by a comma. The same point applies to set also.

Differences between list and set:
1. In a list, you can store any type of a value. Whereas, in a set we can only store immutable types of values.
2. The collection of values, in the list, needs to be surrounded by square brackets. Whereas, the collection of values, in the set, needs to be surrounded by curly brackets
3. Each value in the list, had a indentifier associated with it. Whereas the values in a set do not have any identifier associated them

In [1]:
a={34, 78.9, "abc"}

In [2]:
type(a)

set

In [3]:
len(a)

3

In [4]:
b={67,(1,2,3),True}

In [5]:
type(b)

set

In [6]:
c={67.9,[1,2,3],"abc"}

TypeError: unhashable type: 'list'

In [7]:
d=[11,22,11]

In [8]:
type(d)

list

In [9]:
d={11,22,11}

In [10]:
type(d)

set

In [11]:
d

{11, 22}

# Insert values

In [ ]:
1. add method    -- inserts one value at a time
2. update method -- inserts multiple values at a time

In [12]:
print(type(d))

<class 'set'>

In [13]:
d.add(33)

In [14]:
d

{11, 22, 33}

In [15]:
d.add((1,2,3))

In [16]:
d

{(1, 2, 3), 11, 22, 33}

In [17]:
len(d)

4

In [18]:
d.update(44)

TypeError: 'int' object is not iterable

In [19]:
d.update((1,2,3))

In [20]:
d

{(1, 2, 3), 1, 11, 2, 22, 3, 33}

# Delete values

1. discard method -- is used to delete a single value at a time. If the value that you are deleting is not present in the set, then the discard method does not give any error
2. remove method  -- is used to delete a single value at a time. If the value that you are deleting is not present in the set, then the remove method will give a error

In [21]:
d

{(1, 2, 3), 1, 11, 2, 22, 3, 33}

In [22]:
d.discard(2)

In [23]:
d

{(1, 2, 3), 1, 11, 22, 3, 33}

In [24]:
d.remove(3)

In [25]:
d

{(1, 2, 3), 1, 11, 22, 33}

In [26]:
d.discard(100)

In [27]:
d

{(1, 2, 3), 1, 11, 22, 33}

In [28]:
d.remove(100)

KeyError: 100