In [ ]:
Each value in python can have a reference(variable) associated with it

In [ ]:
A variable is just a reference to a value, it does not contain the value

How create a variable
1. The first character of a variable can have an alphabet of lower case (a-z), or it can have an alphabet of upper case (A-Z), or it can be an underscore(_)
2. The second character of a variable can have an alphabet of lower case (a-z), or it can have an alphabet of upper case (A-Z), or it can be an underscore(_), or it can even be a digit character (0-9)
3. The variable cannot contain any space in it, also it cannot contain any special character(!,@,#,$,%,^,&,*) in it.
4. A varibale cannot be the same as a keyword defined in python (for, in, etc)
5. A variable is case sensitive (abc is not the same as Abc)
6. The minimum number of characters in a variable should be equal to 1

In [ ]:
How to assign a value to a variable:
    
Syntax


variableName = value

In [8]:
a123 =7

In [7]:
_=6

In [3]:
a%c = 5

SyntaxError: cannot assign to operator (<ipython-input-3-49353e700948>, line 1)

In [1]:
abc = 3

In [2]:
Rohit Sharma=4

SyntaxError: invalid syntax (<ipython-input-2-423e6917fcf8>, line 1)

In [ ]:
How to assign a value to a variable:
    
Syntax


variableName = value

# Types of values

# 1. Integer

In [ ]:
A integer is a number that does not have a decimal point

In [9]:
a = 56

In [10]:
type(a)

int

In [11]:
b = -40

In [12]:
type(b)

int

In [13]:
c = 0

In [14]:
type(c)

int

# 2. FLoat

In [ ]:
A float is a number that has a decimal point

In [15]:
d = 50.9

In [16]:
type(d)

float

In [17]:
e = 1.0

In [18]:
type(e)

float

In [19]:
f=0.0

In [20]:
type(f)

float

In [21]:
g=-40.6

In [22]:
type(g)

float

# String

In [ ]:
How to assign a value to a variable:
    
Syntax


variableName = value

A string is just a collection of characters. But inorder to tell python, that we have a collection of characters, we need to surrounding that collection with double quotes or single quotes

In [ ]:
what is a character?
A character means anything that you can type using the keyboard

In [23]:
h= "ioeshgi"

In [24]:
type(h)

str

In [25]:
u= 'hudfig89r34r3909'

In [26]:
type(u)

str

In [ ]:
How to assign a value to a variable:
    
Syntax


variableName = value

In [27]:
t= "903485903480"

In [28]:
type(t)

str

In [29]:
y= "11qq"

In [30]:
type(y)

str

In [ ]:
How to assign a value to a variable:
    
Syntax


variableName = value

# 4. Boolean

A boolean value can only be True or False. But make sure that the first character of boolean is capital, while the rest other characters are of small case

In [31]:
v= true

NameError: name 'true' is not defined

In [32]:
v=True

In [33]:
type(v)

bool

In [34]:
r=false

NameError: name 'false' is not defined

In [35]:
r=False

In [36]:
type(r)

bool

In [37]:
a=80

In [38]:
a

80

In [ ]:
Whenever you create a value that does not have a variable:
    1. It will get printed automatically
    2. It will get deleted automatically by python

In [39]:
c=100

In [40]:
101

101

In [41]:
a=1

In [42]:
a=2

In [43]:
a

2

In [44]:
b=10

In [45]:
b=90

In [46]:
b

90

# Type Conversion

# Integer to other types

In [47]:
a=90

In [48]:
type(a)

int

In [ ]:
Conversion to float:
    1. Convert the original value to a real number
    2. Convert the real number to a float value

In [49]:
a

90

In [50]:
float(a)

90.0

In [51]:
a

90

In [ ]:
Conversion to string:
    1. just surround the value by quotes

In [52]:
str(a)

'90'

In [53]:
a=90

In [ ]:
Conversion to float:
    1. Convert the original value to a real number
    2. Convert the real number to a float value

In [54]:
float(a)

90.0

In [55]:
a

90

In [56]:
f=float(a)

In [57]:
f

90.0

In [58]:
a

90

In [59]:
b=20

In [60]:
type(b)

int

In [ ]:
Conversion to float:
    1. Convert the original value to a real number
    2. Convert the real number to a float value

In [61]:
b

20

In [62]:
float(b)

20.0

In [63]:
b

20

In [64]:
b

20

In [ ]:
Conversion to string:
    1. just surround the value by quotes

In [65]:
str(b)

'20'

In [66]:
b

20

In [67]:
bool(b)

True

In [68]:
c=0

In [ ]:
Conversion to float:
    1. Convert the original value to a real number
    2. Convert the real number to a float value

In [69]:
float(c)

0.0

In [70]:
c

0

In [ ]:
Conversion to string:
    1. just surround the value by quotes

In [71]:
str(c)

'0'

In [72]:
c

0

In [73]:
bool(c)

False

In [74]:
d=-38

In [75]:
type(d)

int

In [76]:
d

-38

In [ ]:
Conversion to float:
    1. Convert the original value to a real number
    2. Convert the real number to a float value

In [77]:
float(d)

-38.0

In [78]:
d

-38

In [ ]:
Conversion to string:
    1. just surround the value by quotes

In [79]:
d

-38

In [80]:
str(d)

'-38'

In [81]:
d

-38

In [82]:
bool(d)

True