# Tuple

1. A tuple is a collection of values.
2. In a tuple, you can store any type of a value
3. If you have more than or equal to 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the tuple, needs to be surrounded by curved brackets
5. Each value in the tuple, will have indexes(negative,positive) associated with it

In [1]:
a=[33]

In [2]:
type(a)

list

In [3]:
b=(33)

In [4]:
type(b)

int

In [5]:
b=(33,)

In [6]:
type(b)

tuple

In [7]:
a=(1 ,"bc", 2.5)

In [8]:
type(a)

tuple

In [9]:
b=(12 , "a" , True)

In [10]:
type(b)

tuple

In [11]:
c=(45 ,True, [1,2,3])

In [12]:
type(c)

tuple

In [13]:
c=(45 ,True, (1,2,3))

In [14]:
type(c)

tuple

In [15]:
d=(11,22,33,44,55)

In [16]:
type(d)

tuple

# # Subsetting the values from the list

In [ ]:
syntax---


TupleReference[index]

In [17]:
d[1]

22

In [18]:
d[-4]

22

In [19]:
d[3]

44

In [20]:
d[-2]

44

In [21]:
d=(11,22,33,44)

# Subsetting multiple consecutive values from a list

In [ ]:
syntax:
    
TupleReference[firstSpecified:lastSpecifiedIndex]

In [22]:
d[1:2]

(22,)

In [23]:
d[1:3]

(22, 33)

In [24]:
d[ 1:10 ]

(22, 33, 44)

In [25]:
d[ 2:20 ]

(33, 44)

In [26]:
d[10 : 45 ]

()

1. Whenever you want to subset multiple consecutive values from a list, you need to use the technique of slicing. Whenever you use slicing with indexes, the value at the first specified index is included, while the value at the lastSpecifiedIndex is not included. Slicing inlcudes values uptil the index that is previous to the lastSpecifiedIndex, that is closest to the lastSpecifiedIndex, and it should also be within the list
2. In slicing, you can leave out the firstSpecifiedIndex, and the lastSpecifiedIndex. If you leave out the firstSpecifiedIndex, then python will assume that you want to start from the beginning. On the other hand, if you leave out the lastSpecifiedIndex, then python will assume that you want to go uptil the end

In [27]:
d[ : 3]

(11, 22, 33)

In [28]:
d[1: ]

(22, 33, 44)

In [29]:
d[ : ]

(11, 22, 33, 44)

Similarities between list and tuple:

1. A list can store any type of a value. Similarly, a tuple can also store any type of a value
2. A list is a collection of values. Similarly, a tuple is also a collection of values
3. A list has positive and negative indexes assigned to each of each values. Similarly, a tuple also has positive and negative indexes assigned to each of each values. Which makes subsetting exactly the same for both

Difference between list ans tuple:
1. In a list we use square brackets to surround the collection of values. In a tuple we will use curved brackets to surround the collection of values
2. While creating a list, if that list has more than 1 value, then comma is needed in the code while creating it. However, in a tuple, if that tuple has more than or equal to 1 value, then comma is needed in the code while creating it.
3. A list is mutable, whereas tuple is immutable

# Replace values in a tuple

In [30]:
d[1]=66

TypeError: 'tuple' object does not support item assignment

In [31]:
d[3]=[1,2,3]

TypeError: 'tuple' object does not support item assignment

In [32]:
d[0]=[1,2,3]

TypeError: 'tuple' object does not support item assignment

In [33]:
d[1:3]=[89]

TypeError: 'tuple' object does not support item assignment

# Delete values in a tuple

In [34]:
del(a[2])

TypeError: 'tuple' object doesn't support item deletion

In [35]:
del(a[2:])

TypeError: 'tuple' object does not support item deletion