# List

In [ ]:
1. A list is a collection of values.
2. In a list, you can store any type of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the list, needs to be surrounded by square brackets
5. Each value in the list, will have indexes(negative,positive) associated with it

In [1]:
a=[1 ,"bc", 2.5]

In [2]:
type(a)

list

In [3]:
b=[12 , "a" , True]

In [4]:
type(b)

list

In [5]:
c=[45 ,True, [1,2,3]]

In [6]:
type(c)

list

In [7]:
len(c)

3

In [8]:
d=[11,22,33,44,55]

In [9]:
type(d)

list

# Subsetting the values from the list

In [ ]:
syntax---


listReference[index]

In [10]:
d[1]

22

In [11]:
d[-4]

22

In [12]:
d[3]

44

In [13]:
d[-2]

44

In [19]:
d=[11,22,33,44]

# Subsetting multiple consecutive values from a list

Whenever you want to subset multiple consecutive values from a list, you need to use the technique of slicing. Whenever you use slicing with indexes, the value at the first specified index is included, while the value at the lastSpecifiedIndex is not included. Slicing inlcudes values uptil the index that is previous to the lastSpecifiedIndex, that is closest to the lastSpecifiedIndex, and it should also be within the list

In [ ]:
syntax:
    
listReference[firstSpecified:lastSpecifiedIndex]

In [20]:
d[1:2]

[22]

In [21]:
d[1:3]

[22, 33]

In [22]:
d

[11, 22, 33, 44]

In [23]:
d[ 1:10 ]

[22, 33, 44]

In [24]:
d[ 2:20 ]

[33, 44]

In [25]:
d[10 : 45 ]

[]

1. Whenever you want to subset multiple consecutive values from a list, you need to use the technique of slicing. Whenever you use slicing with indexes, the value at the first specified index is included, while the value at the lastSpecifiedIndex is not included. Slicing inlcudes values uptil the index that is previous to the lastSpecifiedIndex, that is closest to the lastSpecifiedIndex, and it should also be within the list
2. In slicing, you can leave out the firstSpecifiedIndex, and the lastSpecifiedIndex. If you leave out the firstSpecifiedIndex, then python will assume that you want to start from the beginning. On the other hand, if you leave out the lastSpecifiedIndex, then python will assume that you want to go uptil the end

In [ ]:
syntax:
    
listReference[firstSpecified:lastSpecifiedIndex]

In [26]:
d[ : 3]

[11, 22, 33]

In [29]:
d[1: ]

[22, 33, 44]

In [30]:
d[ : ]

[11, 22, 33, 44]

# Replace values in a list

In [31]:
d

[11, 22, 33, 44]

In [ ]:
1. You can only replace a single value with a single value
2. You can only replace a collection of values with a collection of values

In [32]:
d

[11, 22, 33, 44]

In [33]:
d[1]

22

In [34]:
d[1]=66

In [35]:
d

[11, 66, 33, 44]

In [36]:
d=[11, 22, 33, 44]

In [37]:
d

[11, 22, 33, 44]

In [38]:
d[3]

44

In [39]:
d[3]=[1,2,3]

In [40]:
d

[11, 22, 33, [1, 2, 3]]

In [ ]:
d[1:3]

In [42]:
d=[11, 22, 33, 44]

In [ ]:
In the code for replacing the value on the right of equals to, will adjust itself as per the value on the left of equals to

In [43]:
d[0]

11

In [ ]:
Replacing 1 value of integer with one value of list type

In [44]:

d[0]=[1,2,3]

In [45]:
d

[[1, 2, 3], 22, 33, 44]

In [46]:
d=[11, 22, 33, 44]

In [47]:
d[1:3]

[22, 33]

In [ ]:
A collection  can only be replaced a collection

In [48]:
d[1:3]=89

TypeError: can only assign an iterable

In [49]:
d[1:3]

[22, 33]

In [ ]:
A collection  can only be replaced a collection

In [50]:
d[1:3]=[89]

In [51]:
d

[11, 89, 44]

In [52]:
d=[11, 22, 33, 44]

In [ ]:
1. A list is a collection of values.
2. In a list, you can store any type of a value
3. If you have more than 1 value in the collection, then those values need to be separated with each other by a comma
4. The collection of values, in the list, needs to be surrounded by square brackets
5. Each value in the list, will have indexes(negative,positive) associated with it

In [ ]:
Data Types:
    1. Integer-A number without decimal point
    2. Float- A number that has a decimal point
    3. String- A collection of characters
    4. Boolean- True or False
    5. List- A collection of values

In [53]:
a=[11,22,33,44]

In [54]:
a[3]

44

In [55]:
a[-3]

22

In [56]:
a[2:40]

[33, 44]

In [57]:
a[1:3]

[22, 33]

In [58]:
a[ : 3]

[11, 22, 33]

In [59]:
a[2: ]

[33, 44]

In [60]:
a[ : ]

[11, 22, 33, 44]

# Replacing values in a list

In [ ]:
Data Types:
    1. Integer-A number without decimal point
    2. Float- A number that has a decimal point
    3. String- A collection of characters
    4. Boolean- True or False
    5. List- A collection of values

In [ ]:
syntax:
    originalValue = newValue

In [61]:
a

[11, 22, 33, 44]

1. If the value to the left of equals to sign is theoritically a single value , then the value to the right of equals to sign should also be theorically a single value. If the value to the right of equals to sign is not theoritically a single value, then we will see if somehow we can still consider as a single value or not


2. If the value to the left of equals to sign is theoritically a collection , then the value to the right of equals to sign should also be theorically a collection. If the value to the right of equals to sign is not theoritically a theoritically, then we will see if somehow we can still consider as a collection or not

In [62]:
a[3]

44

In [63]:
a[3] = 55

In [64]:
a

[11, 22, 33, 55]

In [65]:
a=[11, 22, 33, 44]

In [66]:
a

[11, 22, 33, 44]

In [67]:
a[1]

22

In [68]:
a[1] = [1,2,3]

In [69]:
a

[11, [1, 2, 3], 33, 44]

In [70]:
a

[11, [1, 2, 3], 33, 44]

In [71]:
a=[11, 22, 33, 44]

In [72]:
a

[11, 22, 33, 44]

In [73]:
a[1:3]

[22, 33]

In [ ]:
Data Types:
    1. Integer-A number without decimal point
    2. Float- A number that has a decimal point
    3. String- A collection of characters
    4. Boolean- True or False
    5. List- A collection of values

1. If the value to the left of equals to sign is theoritically a single value , then the value to the right of equals to sign should also be theorically a single value. If the value to the right of equals to sign is not theoritically a single value, then we will see if somehow we can still consider as a single value or not


2. If the value to the left of equals to sign is theoritically a collection , then the value to the right of equals to sign should also be theorically a collection. If the value to the right of equals to sign is not theoritically a theoritically, then we will see if somehow we can still consider as a collection or not

In [74]:
a[1:3] = 66

TypeError: can only assign an iterable

In [75]:
a[1:3]

[22, 33]

In [76]:
a[1:3] = [66,77,88]

In [77]:
a

[11, 66, 77, 88, 44]

# Delete values in the list

In [78]:
a

[11, 66, 77, 88, 44]

In [79]:
a[2]

77

In [80]:
del(a[2])

In [81]:
a

[11, 66, 88, 44]

In [82]:
a[2:]

[88, 44]

In [83]:
del(a[2:])

In [84]:
a

[11, 66]

In [85]:
b=[5,5,6,7,8]

In [87]:
b[:2]

[5, 5]

In [88]:
del(b[:2])

In [89]:
b

[6, 7, 8]